asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
cffi==1.12.3
Click==7.0
coverage==4.5.3
cryptography==2.6.1
Flask==1.0.3
Flask-Cors==3.0.8
Flask-PyMongo==2.3.0
flup==1.0.3
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
mmh3==2.5.1
more-itertools==7.0.0
pathlib2==2.3.3
pluggy==0.11.0
py==1.8.0
pycparser==2.19
PyJWT==1.7.1
pymongo==3.9.0
pytest==4.5.0
-e git+git@github.com:r4yman/rayweb@faa27f8b0fca630aa3b577cb030a01eac1af78de#egg=rayweb
six==1.12.0
wcwidth==0.1.7
Werkzeug==0.15.4
