user www-data www-data;
worker-processes auto;
pid /run/nginx.pid

events {
	worker_connections 768;
	multi_accept on;
}

http {
	server {
		location / { try_files $uri @rayweb; }
		location @rayweb {
			include fastcgi_params;
			fastcgi_param PATH_INFO $fastcgi_script_name;
			fastcgi_param SCRIPT_NAME "";
			fastcgi_param python:9000;
		}
	}
}
