body {
	background-color: #ddd;
	width: 40%;
	margin: auto;
	margin-top: 20px;
}

form {
	padding-top: 10px !important;
}

form > input {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}